{% extends 'base.html' %}

{% block header %}
   <h1>{% block title %}Home{% endblock %}</h1>
{% endblock %}

{% block content %}
   Welcome to the Capture the Pie CTP<br>
   The goal of these challenges is to be an introduction to binary exploitation in general <br>
   and to be an exploration of binary exploitation on the Raspberry Pis ARM chip in particular <br>
   <p>I highly recommend using python to do these challenges.<br> While not strictly necessary, it will make sending arbitrary bytes much easier.<br><a href=http://docs.pwntools.com/en/stable/>Pwntools</a> are an amazing tool to develop exploits, especially for CTF.<br> If you want to use more commonly available tooling in python check out <a href=https://docs.python.org/3/library/socket.html>socket</a> and <a href=https://docs.python.org/2/library/struct.html>struct</a></p>
{% endblock %}
